<body class="centered page-loaded">
  <div class="section">
    <div class="subsection">
      <div class="logobby">
        <a class="logo" href="/" class="logo"></a>
        <img width="50" height="50" src="https://image.ibb.co/nbFcXS/baby_logo_sem_fundo.png" alt="logo icon">
      </div>
      <div id="main-region">
        <h4>Cadastre-se</h4>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

          <div id="box">
<br>
 <%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
<%= link_to omniauth_authorize_path(resource_name, provider), class: 'btn btn-social btn-facebook' do %><i class="fab fa-facebook-f"></i>Sign in with <%= OmniAuth::Utils.camelize(provider) %><% end %><br />
  <% end -%>
<% end -%>
<br><p>Nunca compartilharemos dados pessoais.</p>
<br><hr>
<h4>Ou</h4>
<br>
          <h5>Nome<%= f.input :name, required: true, label: false, autofocus: true, required: true %></h5>
          <h5>Email<%= f.input :email, required: true, label: false, required: true %></h5>
          <h5>Senha<%= f.input :password, required: true, label: false, hint: ("#{@minimum_password_length} Caracteres mínimo." if @minimum_password_length) %>
            <h5>Confirme sua senha<%= f.input :password_confirmation, label: false, required: true %></h5>
            <h5>Endereço<%= f.input :address, label: false, required: true %></h5>
            <h5>Celular<%= f.input :phone, label: false, required: true %></h5>
            <h5>Data de nascimento<%= f.text_field :birthday, label: false, required: true, as: :string, class: "flatpickr-user", placeholder: "dia/mês/ano" %></h5>
            <h5>Sexo<%= f.input :gender, label: false, collection: ['Masculino', 'Feminino'], required: true  %></h5>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <div class="form-actions">
              <%= f.submit value: "Cadastrar", class: "btn btn-pink" %>
            </div>
          </div>


          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
