  <div id="body-min-height">
<div class="container">

<h1>Meus bookings</h1>



<div class="row">


  <% @bookings.reverse.each do |booking| %>

  <div class="col-sm-12">

      <div class="card-booking">

      <div class="card-body">

        <% if current_user.sitter? %>
          <h2><%= localize(booking.start_time, format: "%A, %e de %B de %Y às %H:%I") %></h2>
          <p>Finalizado : <%= localize(booking.end_time, format: "%A, %e de %B de %Y às %H:%I") %></p>
          <p>Contratador: <%= booking.user.name %></p>
          <p>Filhos: <% booking.user.children.each do |child| %>
            <%= child.gender %> de <%= child.age %> anos.
            <% end %>
          </p>
          <p>Contato: <%= booking.user.phone %></p>
          <p>Faturamento: R$<%= booking.sitter.price %>/hora</p>
          <p>Duração : <%= Time.at(booking.end_time - booking.start_time).utc.strftime "%H horas, %M minutos e %S segundos" %></p>
          <p><strong> Total: R$<%= ( booking.sitter.price * ((booking.end_time - booking.start_time)/ 3600) ) %> </strong></p>

            <% if Reviewsparent.where(booking: booking).count == 0 %>
              <i class="fas fa-exclamation"></i> <%= link_to "Clique para avaliar os pais", new_booking_reviewsparent_path(booking) %>
            <% else %>
              <i class="fas fa-check-square"></i> Avaliação foi feita, obrigado !
            <% end %>

          <span id="btn-wrapper-<%= booking.id %>">
            <% unless booking.check_out %>
              <% if booking.check_in %>
                <%= link_to "Check out", checkout_path(sitter_id: current_user.sitter.id, booking_id: booking.id), remote: true, class: "btn btn-pink", id: booking.id %>

              <% else %>
                <%= link_to "Check in", checkin_path(sitter_id: current_user.sitter.id, booking_id: booking.id), remote: true, class: "btn btn-pink", id: booking.id %>
               <% end %>
            <% end %>
          </span>

        <% else %>

          <h2><%= localize(booking.start_time, format:"%A, %e de %B de %Y às %H:%I") %></h2>
          <p>Finalizado : <%= localize(booking.end_time, format:"%A, %e de %B de %Y às %H:%I") %></p>
          <p>Babá: <%= link_to booking.sitter.user.name, sitter_path(booking.sitter.id) %></p>
          <p>Contato: <%= booking.sitter.user.phone %></p>
          <p>Faturamento: R$<%= booking.sitter.price %>/hora</p>
          <p>Duração : <%= Time.at(booking.end_time - booking.start_time).utc.strftime "%H horas, %M minutos e %S segundos" %></p>
          <p><strong> Total: R$<%= ( booking.sitter.price * ((booking.end_time - booking.start_time)/ 3600) ) %> </strong></p>

            <% if Reviewssitter.where(booking: booking).count == 0 %>
              <i class="fas fa-exclamation"></i> <%= link_to "Clique para avaliar a baby-sitter", new_booking_reviewssitter_path(booking) %>
            <% else %>
              <i class="fas fa-check-square"></i> Avaliação foi feita, obrigado !
            <% end %>
        <% end %>
    </div>
  </div>
</div>
 <% end %>
</div>
</div>
</div>
