  <div id="body-min-height">
<div class="container">

<h1>Meus agendamentos</h1>

  <% if @bookings.count == 0 %>
    <% if current_user.sitter? %>
      <div class="center text-center">
        <img width="200" height="200" src="https://image.ibb.co/g2od97/sad_baby.png" alt="sad baby" >
        <h5>Você ainda não tem nenhum agendamento. <br>O que acha de divulgar o seu perfil do babáconfia para que as pessoas conheçam o seu trabalho? ;)</h5>
        <%= social_share_button_tag("Share to Facebook", :url => sitter_url(current_user.sitter.id), desc: current_user.name) %>
      </div>
    <% end %>
  <% end %>

    <% if @bookings.count == 0 %>
      <% unless current_user.sitter? %>
        <div class="center text-center">
        <img width="200" height="200" src="https://image.ibb.co/g2od97/sad_baby.png" alt="sad baby" >
        <h5>Você ainda não tem nenhum agendamento. <br>Busque agora uma babá de confiança!</h5>
        <%= link_to "Buscar babá", root_path, class: "btn btn-xs btn-pink" %>
      </div>
    <% end %>
  <% end %>

  <% else %>


<div class="row">


  <% @bookings.reverse.each do |booking| %>

  <div class="col-sm-12">

      <div class="card-booking">

      <div class="card-body">

        <% if current_user.sitter? %>
          <h2><%= localize(booking.start_time, format: "%A, %e de %B de %Y às %H:%I") %></h2>

          <p>Término: <%= localize(booking.end_time, format: "%A, %e de %B de %Y às %H:%I") %></p>
          <p>Contratador: <%= booking.user.name %></p>
          <p>Filhos: <% booking.user.children.each do |child| %>
            <%= child.gender %> de <%= child.age %> anos.
            <% end %>
          </p>
          <p>Contato: <%= booking.user.phone %></p>
          <p>Endereço: <%= booking.user.address %></p>
          <p>Faturamento: R$<%= booking.sitter.price %>/hora</p>
          <p>Duração: <%= Time.at(booking.end_time - booking.start_time).utc.strftime "%H horas, %M minutos e %S segundos" %></p>
          <p><strong> Total: R$<%= ( booking.sitter.price * ((booking.end_time - booking.start_time)/ 3600) ) %> </strong></p>

            <% if Reviewsparent.where(booking: booking).count == 0 %>
              <i class="fas fa-exclamation"></i> <%= link_to "Clique para avaliar os pais", new_booking_reviewsparent_path(booking) %>
            <% else %>
              <i class="fas fa-check-square"></i> Avaliação realizada!
            <% end %>
            <p>
              <br>
            <span id="btn-wrapper-<%= booking.id %>">
            <% unless booking.check_out %>
              <% if booking.check_in %>
                <%= link_to "Check out", checkout_path(sitter_id: current_user.sitter.id, booking_id: booking.id), remote: true, class: "btn btn-light-blue", id: booking.id %>
              <% else %>
               <%= link_to "Check in", checkin_path(sitter_id: current_user.sitter.id, booking_id: booking.id), remote: true, class: "btn btn-light-blue", id: booking.id %>
               <% end %>
            <% end %>
          </span>
        </p>

        <% else %>

          <h2><%= localize(booking.start_time, format:"%A, %e de %B de %Y às %H:%I") %></h2>
          <p>Data/horário final: <%= localize(booking.end_time, format:"%A, %e de %B de %Y às %H:%I") %></p>
          <p>Babá: <%= link_to booking.sitter.user.name, sitter_path(booking.sitter.id) %></p>
          <p>Contato: <%= booking.sitter.user.phone %></p>
          <p>Faturamento: R$<%= booking.sitter.price %>/hora</p>
          <p>Duração: <%= Time.at(booking.end_time - booking.start_time).utc.strftime "%H horas, %M minutos e %S segundos" %></p>
          <p><strong> Total: R$<%= ( booking.sitter.price * ((booking.end_time - booking.start_time)/ 3600) ) %> </strong></p>

            <% if Reviewssitter.where(booking: booking).count == 0 %>
              <i class="fas fa-exclamation"></i> <%= link_to "Clique para avaliar babá", new_booking_reviewssitter_path(booking) %>
            <% else %>
              <i class="fas fa-check-square"></i> Avaliação realizada!
            <% end %>
        <% end %>
    </div>
  </div>
</div>
 <% end %>
</div>
</div>
</div>
