<div class="container">
  <h1> Deixe aqui sua avaliaçao</h1>
  <p>Baby-sitting feito no dia : <%= localize(@booking.start_time, format: "%A, %e de %B de %Y às %H:%I") %></p>
  <p>Nome do pai : <%= @booking.user.name %></p>
  <p>Endereço : <%= @booking.user.address %></p>
  <hr/>

  <%= simple_form_for [@booking, @reviewssitter] do |f| %>
    <%= f.input :description,label: "Descrição", placeholder: "O seu comentario sobre o serviço", error: "Não pode estar em branco!"%>
    <%= f.input :rating, label: "Sua avaliação do serviço", placeholder: "Note até 5!", collection:[1,2,3,4,5] %>
    <%= f.submit "Enviar", class: "btn btn-pink" %>
  <% end %>
</div>
