<div class="card">
    <div class="left-1">
      <h2><%= sitter.user.name.titleize %></i><% if Reviewssitter.where(sitter_id: sitter.id).count > 0 %><span style="display: block; width: 65px; height: 13px; background: url(<%= image_path("star-rating-sprite.png") %>) 0 0;"> <span style="display: block; width: <%= Reviewssitter.where(sitter_id: sitter.id).average(:rating).round(2)*20 %>%; height: 13px; background: url(<%= image_path("star-rating-sprite.png") %>) 0 -13px;"></span></span><% else %><% end %></h2>
    </div>

    <div class="left-2">
      <%  if sitter.user.facebook_picture_url.nil? %>
          <%  avatar_url = sitter.user.photo.url.nil? ? image_path("happybaby.png") : cl_image_path( sitter.user.photo.url(:profile, secure: true) )%>
        <% else %>
          <% avatar_url = sitter.user.facebook_picture_url %>
        <% end %>
      <img class="card-user" src="<%= avatar_url %>">
    </div>

    <div class="left-3">
      <h2><%= humanized_money_with_symbol(sitter.price) %></h2>
      <p>por hora</p>
    </div>

    <div class="center-1">
        <% if Favorite.where(sitter_id: sitter.id, user_id: current_user).count > 0 %>
          <i class="fas fa-heart on" alt="Faz parte dos seus favoritos"></i>
        <% else %>
          <i class="far fa-heart off" alt="Não faz parte dos seus favoritos"></i>
          <p>
          <%= simple_form_for @favorite do |f| %>
          <%= f.hidden_field :sitter_id, value: sitter.id %>
          <%= f.submit "(+)", class: "text-button" %>
          <% end %>
        <% end %>
    </div>

    <div class="center-2">
    <ul>
      <li><% if Reviewssitter.where(sitter_id: sitter.id).count == 0 %>
      <p><i class="fas fa-star"></i> Ainda não foi avaliada.</p>
      <% else %><p><i class="fas fa-star"></i><%= Reviewssitter.where(sitter_id: sitter.id).average(:rating).round(2) %> / 5 (<%= pluralize(Reviewssitter.where(sitter_id: sitter.id).count, 'avalição', 'avaliações') %>)</p>
      </li>
        <% end %>

      <li>
        <% if params[:user_address].present? %>
           <p><i class="fas fa-map-marker-alt"> </i> <%= Geocoder::Calculations.distance_between(params[:user_address], sitter.user).to_d.truncate(2).to_f %> Km do seu endereço</p>
        <% else %>
           <p><i class="fas fa-map-marker-alt"> </i> <%= Geocoder::Calculations.distance_between(current_user, sitter.user).to_d.truncate(2).to_f %>  Km do seu endereço</p>
        <% end %>
      </li>

            <li><p>
              <% if user_signed_in? %>
                <% @bookings_history = Booking.where(sitter_id: sitter.id, user_id: current_user).count %>
                <% if @bookings_history == 0 %>
                <i class="far fa-calendar-alt off"> </i>
                  Você nunca reservou <%= sitter.user.name.titleize %>
                <% else %>
                <i class="fas fa-calendar-alt on"> </i>
                  Você ja reservou <%= sitter.user.name.titleize %> <%= pluralize(@bookings_history, 'vez', 'vezes') %>
                <% end %>
              <% else %>
                <i class="far fa-calendar-alt off"> </i> Você nunca reservou <%= sitter.user.name.titleize %>
              <% end %>
            </p></li>

            <li><p><i class="fab fa-gratipay"></i>
              <% if Favorite.where(sitter_id: sitter.id).count == 0 %>
                <%=  sitter.user.name.titleize %> não é favorito de ninguém por enquanto.</p></li>
              <% else %>
                <%=  sitter.user.name.titleize %> é favorito de <%= pluralize(Favorite.where(sitter_id: sitter.id).count, 'familia', 'familias') %>.</p></li>
              <% end %>
                <li><p>
      <% if user_signed_in? %>
       <% unless current_user.uid.nil? %>
          <% friends_that_booked = [] %>
          <% bookings = sitter.bookings  %>
          <% bookings.each do |booking| %>
          <%@friend_list.each do |friend| %>
            <% if friend["id"] == booking.user.uid  %>
            <% friends_that_booked << friend %>
            <% end %>
          <% end %>
        <% end %>
        <% if friends_that_booked == [] %>
          <i class="far fa-thumbs-up"> </i>Você não conhece ninguem que contratou <%= sitter.user.name.titleize %></li>    <% else %>
        <i class="far fa-thumbs-up"> </i><%= friends_that_booked[0]['name'] %> <%= simple_pluralize(friends_that_booked.count,"já reservou "," e mais #{friends_that_booked.count - 1} amigos seus ja reservaram ") %><%= sitter.user.name.titleize %></li>
        <% end %>
        <% else %>
        <i class="far fa-thumbs-up"> </i>Entre com o Facebook para ver qual dos seus amigos já reservaram <%= sitter.user.name.titleize %></p></li>
        <% end %>
        <% else %>
        <i class="far fa-thumbs-up"> </i>Entre com o Facebook para ver qual dos seus amigos já reservaram <%= sitter.user.name.titleize %></p></li>
        <% end %>



          </ul>
    </div>

    <div class="center-3">
        <%= link_to "Ver perfil", sitter_path(sitter), class: "btn btn-pink btn-lg"%> <%= link_to "Contratar", bookings_path(available: @result_availables.select{|av| av.sitter_id == sitter.id }[0].id, sitter_id: sitter.id), method: :post, class: "btn btn-light-green btn-lg"%>
    </div>

</div>
