<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-logotitle" do %>
    <%= image_tag "babaconfia.png", height: 75 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- if user is a Baby-sitter -->
      <% if current_user.sitter? %>

        <%= link_to 'Painel'.html_safe, availables_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to 'Agendamentos'.html_safe, bookings_path, class: "navbar-wagon-item navbar-wagon-link" %><% if Booking.where('start_time > ? AND sitter_id = ?', Time.now, current_user.sitter).count == 0 %><% else %><span class="badge"><%= Booking.where('start_time > ? AND sitter_id = ?', (DateTime.now - 3/24.0), current_user.sitter).count %></span><% end %>
        <%= link_to 'Avaliações'.html_safe, reviewssitters_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <% else %>
      <!-- if user is a Parent -->
        <%= link_to 'Agendamentos'.html_safe, bookings_path, class: "navbar-wagon-item navbar-wagon-link" %><% if Booking.where('start_time > ? AND user_id = ?', Time.now, current_user).count == 0 %><% else %><span class="badge"><%= Booking.where('start_time > ? AND user_id = ?', (DateTime.now - 3/24.0), current_user).count %></span><% end %>
        <%= link_to 'Favoritos'.html_safe, favorites_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to t(".sign_in", default: "Quero ser babá"), new_sitter_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to 'Avaliações'.html_safe, reviewsparents_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <% end %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_user.facebook_picture_url.nil? %>
            <% avatar_url = current_user.photo.url.nil? ? "http://placehold.it/30x30" : cl_image_path( current_user.photo.url(:avatar) ) %>
         <% elsif current_user.facebook_picture_url.present? && current_user.photo.url.present? %>
             <% avatar_url = cl_image_path( current_user.photo.url(:avatar))%>
          <% elsif current_user.facebook_picture_url.present? && %>
             <% avatar_url = current_user.facebook_picture_url%>
          <% end %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
            <% if current_user.sitter? %>
              <%= link_to edit_sitter_path(current_user.sitter) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Meu perfil") %>
              <% end %>
            </li>
              <% end %>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Opções") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Sair") %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
         <%= link_to t(".sign_in", default: "Quero ser babá"), new_sitter_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_in", default: "Entrar"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
    <% if user_signed_in? %>
      <% if current_user.sitter? %>
      <!-- if user is a Baby-sitter -->
        <li>
          <%= link_to edit_sitter_path(current_user.sitter) do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Meu perfil") %>
          <% end %>
        </li>
        <li><%= link_to 'Meu Painel'.html_safe, availables_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to 'Avaliações'.html_safe, reviewssitters_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
      <% else %>
      <!-- if user is a Parent -->
        <li><%= link_to 'Agendamentos'.html_safe, bookings_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to 'Favoritos'.html_safe, favorites_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to 'Avaliações'.html_safe, reviewsparents_path, class: "navbar-wagon-item navbar-wagon-link" %></li>


      <% end %>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Sair") %>
            <% end %>
            </li>

    <% else %>
     <li><%= link_to t(".sign_in", default: "Quero ser babá"), new_sitter_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
      <li><%= link_to t(".sign_in", default: "Entrar"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
