<div class="container">
  <h1> Deixe aqui sua avaliaçao</h1>
  Baby-sitting feito no dia : <%= @booking.start_time.strftime"%e %A, %B de %Y às %H:%I" %>
  <br>
  Nome da Baby-sitter: <%= @booking.sitter.user.name %>
  <br>
  Endereço : <%= @booking.user.address %>
  <br><br>
  <%= simple_form_for [@booking, @reviewsparent] do |f| %>
    <%= f.input :description,label: "Descrição", hint: "O seu comentario sobre o serviço", error: "Não pode estar em branco!"%>
    <%= f.input :rating, label: "Sua avaliação do serviço", hint: "Note até 5!"%>
    <%= f.submit %>
  <% end %>
</div>
