<div id="body-min-height">
  <div class="container">

  <h1>Minhas avaliações</h1>

       <div class="row">

  <div class="col-sm-6">
   <div class="card-booking main">
      <div class="card-body">
        <h3>Nota geral recebida</h3>
        <% if Reviewsparent.where(user_id: current_user).count == 0 %>
        <p>Você ainda não foi avaliado</p>
        <% else %>
        <span style="display: block; width: 65px; height: 13px; background: url(/assets/star-rating-sprite.png) 0 0;"> <span style="display: block; width: <%= Reviewsparent.where(user_id: current_user).average(:rating).round(2)*20 %>%; height: 13px; background: url(/assets/star-rating-sprite.png) 0 -13px;"></span> </span>
        <p><%= Reviewsparent.where(user_id: current_user).average(:rating).round(2) %> / 5 (<%= pluralize(Reviewsparent.count, 'avaliação', 'avaliações') %>)</p>
      <% end %>
    </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-booking main">
      <div class="card-body">
        <h3>Nota geral dada</h3>
        <% if Reviewssitter.where(user_id: current_user).count == 0 %>
        <p>Você ainda não avaliou ninguém</p>
        <% else %>
        <span style="display: block; width: 65px; height: 13px; background: url(/assets/star-rating-sprite.png) 0 0;"> <span style="display: block; width: <%= Reviewssitter.where(user_id: current_user).average(:rating).round(2)*20 %>%; height: 13px; background: url(/assets/star-rating-sprite.png) 0 -13px;"></span> </span>
        <p><%= Reviewssitter.where(user_id: current_user).average(:rating).round(2) %> / 5 (<%= pluralize(Reviewssitter.where(user_id: current_user).count, 'avalição', 'avaliações') %>)</p>
      <% end %>
    </div>
    </div>
  </div>
</div>
<hr/>

<h1>Avaliações recebidas</h1>
  <% if @reviewsparents.count == 0 %>
    <p>Você ainda não foi avaliada</p>
  <% else %>
    <p>Você recebeu <%= pluralize(@reviewsparents.count, 'avaliação', 'avaliações') %> </p>
      <div class="row">
        <% @reviewsparents.each do |review| %>
            <div class="col-sm-6">
              <div class="card-booking">
                <div class="card-body">
                  <p class="title">Baby-sitting : <%= localize(review.booking.start_time, format: "%A, %e de %B de %Y às %H:%I") %></p>
                  <p>Endereço : <%= review.user.address %></p>
                  <p>Sitter que fez a avaliaçao : <%= link_to review.sitter.user.name, sitter_path(review.sitter.id) %></p>
                  <p>Avaliaçao : <%= review.description %></p>
                  <p>Nota recebida: <%= review.rating %> / 5<br>
                    <span style="display: block; width: 65px; height: 13px; background: url(/assets/star-rating-sprite.png) 0 0;"> <span style="display: block; width: <%= review.rating*20 %>%; height: 13px; background: url(/assets/star-rating-sprite.png) 0 -13px;"></span> </span></p>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    <% end %>
<hr/>

<h1>Avaliações dadas</h1>
  <% if Reviewssitter.where(user_id: @current_user).count == 0 %>
    <p>Você ainda não avaliou ninguém</p>
  <% else %>
  <p>Você escreveu <%= Reviewssitter.where(user_id: @current_user).count %> avaliações </p>

        <div class="row">
        <% Reviewssitter.where(user_id: @current_user).each do |review| %>
            <div class="col-sm-6">
              <div class="card-booking">
                <div class="card-body">
                  <p class="title">Baby-sitting : <%= localize(review.booking.start_time, format: "%A, %e de %B de %Y às %H:%I") %></p>
                  <p>Endereço : <%= review.user.address %></p>
                  <p>Sitter avaliada : <%= link_to review.sitter.user.name, sitter_path(review.sitter.id) %></p>
                  <p>Avaliaçao : <%= review.description %></p>
                  <p>Nota dada : <%= review.rating %> / 5<br>
                    <span style="display: block; width: 65px; height: 13px; background: url(/assets/star-rating-sprite.png) 0 0;"> <span style="display: block; width: <%= review.rating*20 %>%; height: 13px; background: url(/assets/star-rating-sprite.png) 0 -13px;"></span> </span></p>
                </div>
              </div>
            </div>
          <% end %>
      </div>

    <% end%>
</div>
</div>
