<div class="section-home text-center">
  <div class="container">
    <h1>A tecnologia BabáConfia facilita a sua vida</h1>

<div class="row">
  <div class="col-md-4">
    <div class="search-img">
      <%= image_tag "search.svg", class: "img" %>
    </div>
    <div class="search-text">
      <div class="boxtitle"><h4>Disponibilidade garantida</h4></div>
      <p>Informe seu endereço, dia e horario. Nós encontraremos babás de confiança próximas da sua localização e disponibilidade.</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="search-img">
      <%= image_tag "star.svg", class: "img" %>
    </div>
    <div class="search-text">
      <div class="boxtitle"><h4>Apenas as melhores</h4></div>
      <p>Visualize qual amigo já recomendou cada babá. Também, consulte notas e avaliações das babás antes de escolher.</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="search-img">
      <%= image_tag "card.svg", class: "img" %>
    </div>
    <div class="search-text">
      <div class="boxtitle"><h4>Pague através do babáconfia</h4></div>
      <p>Não precisa sacar dinheiro antes de voltar em casa. Cuidamos de tudo para você.</p>
    </div>
  </div>

</div>





</div>
<div class="section-home-testemunhas">


<section id="carousel">
  <div class="container">
        <h1>Eles confiam na gente</h1>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
        <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
          <!-- Carousel indicators -->
                  <ol class="carousel-indicators">
            <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="4"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="5"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item">
                        <div class="profile-circle"><%= image_tag "pai1.png", class: "profile-circle" %></div>
              <blockquote>
                <p>Babáconfia mudou nossa vida. Usamos cada vês que queremos sair com amigos : é simples, pratico, e super confiavel !</p>
                <p>Felipe, pai de 2 filhos</p>
              </blockquote>
            </div>
            <div class="item">
                        <div class="profile-circle"><%= image_tag "baba1.png", class: "profile-circle" %></div>
              <blockquote>
                <p>Eu uso Babáconfia umas duas vezes por semana. Fica muito mais simples para mim de agendar meus horarios e achar serviços perto da minha casa. Adoro !</p>
                <p>Luiza, babá</p>
              </blockquote>
            </div>
            <div class="active item">
                        <div class="profile-circle"><%= image_tag "mai1.png", class: "profile-circle" %></div>
              <blockquote>
                <p>Antes de conhecer a Babáconfia, era simples uma dor de cabeça de ter que sacar dinheiro antes de voltar pra casa. Hoje, está resolvido !</p>
                <p>Isa, mai de 1 menina</p>
              </blockquote>
            </div>
                    <div class="item">
                        <div class="profile-circle"><%= image_tag "baba2.png", class: "profile-circle" %></div>
                <blockquote>
                <p>Adoro a possibilidade de compartilhar o meu perfil. Tenho muito orgulho das avaliações que eu recebi no site, valoriza muito o meu trabalho !</p>
                <p>Cris, babá</p>
              </blockquote>
            </div>
                    <div class="item">
                        <div class="profile-circle"><%= image_tag "pai2.png", class: "profile-circle" %></div>
                <blockquote>
                <p>Usamos o serviço sempre ! Temos varios babá favoritas no site, nos ajuda muito a escolher. Não preciso mais mandar dezenas de Whatsapp, basta clicar !</p>
                <p>João, pai de 3 filhos</p>
              </blockquote>
            </div>
                    <div class="item">
                       <div class="profile-circle"><%= image_tag "baba3.png", class: "profile-circle" %></div>
                <p>O pagamento funciona super facilmente. O dinheiro exato do serviço chega na minha conta, não preciso me preocupar com moeda. Simples e pratico !</p>
                <p>Anna, babá</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</div>


<div class="section-home-bottom">

  <div class="container">
        <h1>Cadastre-se e faça parte !</h1>
        <%= link_to "Cadastrar", new_user_registration_path, class: "btn btn-lg btn-light-blue" %>
  </div>

</div>
