<div class="container" style="margin-top: 30px">
  <div class="card">
      <div class="left-1">
        <h2>Daniel Topper</i><span style="display: block; width: 65px; height: 13px; background: url(<%= image_path("star-rating-sprite.png") %>) 0 0;"> <span style="display: block; width: 80px; height: 13px; background: url(<%= image_path("star-rating-sprite.png") %>) 0 -13px;"></span></span></h2>
      </div>
      <div class="left-2">
            <%  avatar_url = "https://avatars0.githubusercontent.com/u/36278909?v=4" %>
        <img class="card-user" src="<%= avatar_url %>">
      </div>

      <div class="left-3">
        <h2><%= humanized_money_with_symbol(32) %></h2>
        <p>por hora</p>
      </div>

      <div class="center-1">
            <i class="fas fa-heart on" alt="Faz parte dos seus favoritos"></i>
      </div>

      <div class="center-2">
      <ul>
        <li><p><i class="fas fa-star"></i>623 avaliações</p>
        </li>
        <li>
             <p><i class="fas fa-map-marker-alt"> </i> 10 Km do seu endereço</p>
        </li>
              <li><p>
                  <i class="fas fa-calendar-alt on"> </i>
                    Você ja reservou Daniel Topper.
              </p></li>

              <li><p><i class="fab fa-gratipay"></i>
                  Coloque sua mensagem!.</p></li>
                  <li><p>
          <i class="far fa-thumbs-up"> </i>Deu o pitch desse projeto! </li>
      </div>

      <div class="center-3">
    <ul class="list-inline">
      <li><%= link_to "<i class='fab fa-github'></i>".html_safe, "https://github.com/dantopper", style: "font-size: 70px;" %></li>
      <li><%= link_to "<i class='fab fa-linkedin'></i>".html_safe, "https://www.linkedin.com/in/danieltopper/", style: "font-size: 70px;" %></li>
    </ul>
      </div>

  </div>
  <div class="card">
      <div class="left-1">
        <h2>Danielle Alvino</i><span style="display: block; width: 65px; height: 13px; background: url(<%= image_path("star-rating-sprite.png") %>) 0 0;"> <span style="display: block; width: 114px; height: 13px; background: url(<%= image_path("star-rating-sprite.png") %>) 0 -13px;"></span></span></h2>
      </div>

      <div class="left-2">
            <%  avatar_url = "https://avatars2.githubusercontent.com/u/35389068?v=4" %>
        <img class="card-user" src="<%= avatar_url %>">
      </div>

      <div class="left-3">
        <h2><%= humanized_money_with_symbol(27) %></h2>
        <p>por hora</p>
      </div>

      <div class="center-1">
            <i class="fas fa-heart on" alt="Faz parte dos seus favoritos"></i>
      </div>

      <div class="center-2">
      <ul>
        <li><p><i class="fas fa-star"></i>737 avaliações</p>
        </li>
        <li>
             <p><i class="fas fa-map-marker-alt"> </i> 2000,1 Km do seu endereço</p>
        </li>
              <li><p>
                  <i class="fas fa-calendar-alt on"> </i>
                    Você ja quer contratar Danielle Alvino!
              </p></li>

              <li><p><i class="fab fa-gratipay"></i>
                  Coloque sua mensagem!</p></li>
                  <li><p>
          <i class="far fa-thumbs-up"> </i>Coloca outra mensagem aqui!</li>
      </div>

      <div class="center-3">
    <ul class="list-inline">
      <li><%= link_to "<i class='fab fa-github'></i>".html_safe, "https://github.com/danialvino", style: "font-size: 70px;" %></li>
      <li><%= link_to "<i class='fab fa-linkedin'></i>".html_safe, "https://www.linkedin.com/in/danielle-alvino-39b76968/", style: "font-size: 70px;" %></li>
    </ul>
      </div>

  </div>
  <div class="card">
      <div class="left-1">
        <h2>Daniel Carvalho</i><span style="display: block; width: 65px; height: 13px; background: url(<%= image_path("star-rating-sprite.png") %>) 0 0;"> <span style="display: block; width: 91px; height: 13px; background: url(<%= image_path("star-rating-sprite.png") %>) 0 -13px;"></span></span></h2>
      </div>

      <div class="left-2">
            <%  avatar_url = "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/gd7mzl3jdztxgrgw5cqu.jpg" %>
        <img class="card-user" src="<%= avatar_url %>">
      </div>

      <div class="left-3">
        <h2><%= humanized_money_with_symbol(24) %></h2>
        <p>por hora</p>
      </div>

      <div class="center-1">
            <i class="fas fa-heart on" alt="Faz parte dos seus favoritos"></i>
      </div>

      <div class="center-2">
      <ul>
        <li><p><i class="fas fa-star"></i>500 avaliações</p>
        </li>
        <li>
             <p><i class="fas fa-map-marker-alt"> </i> 69 Km do seu endereço</p>
        </li>
              <li><p>
                  <i class="fas fa-calendar-alt on"> </i>
                    Você ja "reservou" Daniel Carvalho algumas vezes
              </p></li>

              <li><p><i class="fab fa-gratipay"></i>Daniel é o favorito de algumas mães.</p></li>
                  <li><p>
          <i class="far fa-thumbs-up"> </i>Alguma amiga já "contratou" Daniel Carvalho </li>
      </div>

      <div class="center-3">
    <ul class="list-inline">
      <li><%= link_to "<i class='fab fa-github'></i>".html_safe, "https://github.com/danielbpc2", style: "font-size: 70px;" %></li>
      <li><%= link_to "<i class='fab fa-linkedin'></i>".html_safe, "https://linkedin.com/in/danielbpc/", style: "font-size: 70px;" %></li>
    </ul>

  </div>
</div>
</div>
