<div class="banner" style="background-image: url('http://www.space338.com.au/wp-content/uploads/2015/12/Option_Original_Girl.png')">
  <div class="banner-content">
      <h1>Encontre uma baba de confiança em poucos cliques.</h1>
      <p>Procure agora as melhores baby-sitters disponiveis.</p>
      <%= form_tag sitters_path, method: :get do %>
        <%= text_field_tag :user_address%>
        das
        <%= text_field_tag :start_time,
          params[:start_time],
          class: "flatpickr-input"%>
          até
        <%= text_field_tag :end_time,
          params[:end_time],
          class: "flatpickr-input" %>
        <%= submit_tag %>
      <% end %>
  </div>
</div>

<%= render "pages/content" %>

