<div id="head-home" class="home">
  <div class="container header-container">
        <h1>Encontre uma babá de confiança em poucos cliques.</h1>
        <h5>Procure agora as <strong>melhores</strong> baby-sitters disponíveis.</h5>

        <div class="home-search">
         <%= form_tag sitters_path, method: :get do %>
          <%= text_field_tag :user_address, (current_user.nil? ? "" : current_user.address), placeholder: (current_user.nil? ? "Digite o seu endereço" : current_user.address), class: 'bord-form' %>
          <span style="color: white;">no dia</span>
          <%= text_field_tag :start_time,
            params[:start_time], placeholder: (Time.now.change({ hour: 20, min: 30, sec: 0 })).strftime("%F %H:%M"),
            class: "flatpickr-input", required: true%>
            <span style="color: white;">por</span>
          <%= number_field_tag :end_time,
            params[:end_time], placeholder:2, class: 'bord-form',
            # class: "flatpickr-input",
             required: true %>
            <span style="color: white;">horas</span>
          <%= submit_tag "Procurar", class: "btn btn-xs btn-light-blue" %>
         <% end %>
        </div>

  </div>
</div>
<%= render "pages/content" %>
