<div id="head-home" class="home">
  <div class="container header-container">

    <div class="row">

      <div class="col-md-8 left">
        <h1>Contrate com facilidade uma babá de confiança.</h1>
        <h5>BabáConfia é uma solução revolucionária para encontrar, contratar e pagar baby-sitters de confiança que estão próximas da sua localização.</h5>

        <div class="wrapper">
          <%= link_to "Criar minha conta", new_registration_path(User), class: "btn btn-md btn-outline-primary" %>
          <%= link_to "Quero ser babá", new_sitter_path, class: "btn btn-md btn-outline-primary" %>
        </div>

      </div>

      <div class="col-md-4 home-search effect5">
      <h1>Experimente</h1>
     <%= form_tag sitters_path, method: :get do %>
     <ul><li><%= text_field_tag :user_address, (current_user.nil? ? "" : current_user.address), placeholder: (current_user.nil? ? "Digite o seu endereço" : current_user.address), class: 'bord-form' %></li>
     <li><%= text_field_tag :start_time,
        params[:start_time], placeholder: (Time.now.change({ hour: 20, min: 30, sec: 0 })).strftime("%F as %H:%M"),
        class: "flatpickr-input", required: true%></li>
     <li><%= number_field_tag :end_time,
        params[:end_time], placeholder:"por 2 horas", class: 'bord-form',
         required: true %></li>
      <%= submit_tag "Procurar", class: "btn btn-block btn-light-blue" %>
     <% end %>
    </div>
    </div>
  </div>
</div>
<%= render "pages/content" %>
