<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1482235225574-c37692835cf3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bba87d557cd648d8172d392fe12883e0&auto=format&fit=crop&w=1651&q=80')">
  <div class="banner-content">
      <h1>Encontre uma baba de confiança em poucos cliques.</h1>
      <h5>Procure agora as melhores baby-sitters disponiveis.</h5>
      <div class="home-search"><%= form_tag sitters_path, method: :get do %>
          <%= text_field_tag :user_address, (current_user.nil? ? "" : current_user.address), placeholder: (current_user.nil? ? "Digite o seu endereço" : current_user.address), class: 'bord-form' %>
          <span style="color: white;">no dia</span>
          <%= text_field_tag :start_time,
            params[:start_time], placeholder: (Time.now.change({ hour: 20, min: 30, sec: 0 })).strftime("%F %H:%M"),
            class: "flatpickr-input", required: true%>
            <span style="color: white;">por</span>
          <%= number_field_tag :end_time,
            params[:end_time], placeholder:2, class: 'bord-form',
            # class: "flatpickr-input",
             required: true %>
            <span style="color: white;">horas</span>
          <%= submit_tag "Procurar", class: "btn btn-xs btn-light-blue" %>
        <% end %></div>
  </div>
</div>
<%= render "pages/content" %>
