<h1>Lista de babás</h1>
<%= @sitters.each do |sitter| %>
  <%= render "shared/card" %>
<% end  %>


TEST CARD LAYOUT

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <!-- insert <div class="card"> -->
          <%= render "shared/card" %>

    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <!-- insert <div class="card"> -->
          <%= render "shared/card" %>

    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <!-- insert <div class="card"> -->
          <%= render "shared/card" %>

    </div>
  </div>
</div>

