<div class="container">
  <div class="profile text-center">
    <div class="main">
      <div class="main-content">
        <h1><%= @sitter.user.name.titleize %></h1>
        <%  if @sitter.user.facebook_picture_url.nil? %>
        <%  avatar_url = @sitter.user.photo.url.nil? ? "http://placehold.it/200x200" : cl_image_path( @sitter.user.photo.url(:profile, secure: true) )%>
        <% else %>
        <% avatar_url = @sitter.user.facebook_picture_url %>
        <% end %>
          <img src="<%= avatar_url %>" alt="" width="150" class="img-circle">

        <p><i class="fas fa-handshake"></i>  Estou no <strong>babáconfia</strong> desde <%= @sitter.user.created_at.strftime("%m/%Y") %></p>
        <p>
        <% if Reviewssitter.where(sitter_id: @sitter.id).count > 0 %>
          <i class="fas fa-star"></i> <%= Reviewssitter.where(sitter_id: @sitter.id).average(:rating).round(2) %></strong> / 5 (<%= pluralize(Reviewssitter.where(sitter_id: @sitter.id).count, 'notas', 'avaliações') %>)
        <% else %>
          <i class="fas fa-star"></i> Ainda não não recebeu avaliações. </p>
        <% end %>

      <% if Favorite.where(sitter_id: @sitter.id, user_id: current_user).count > 0 %>
        <i class="fas fa-heart on" alt="Faz parte dos seus favoritos"></i>
      <% else %>
        <i class="far fa-heart off" alt="Não faz parte dos seus favoritos"></i>
        <p>
        <%= simple_form_for @favorite do |f| %>
        <%= f.hidden_field :sitter_id, value: @sitter.id %>
        <%= f.submit "(+)", class: "text-button" %>
        <% end %>
      <% end %>
        <% if user_signed_in? %>
          <p><i class="fas fa-map-marker-alt"></i> <%= Geocoder::Calculations.distance_between(current_user, @sitter.user).to_d.truncate(2).to_f  %> Km do seu endereço</p>
      <% else %>
      <% end %>
    </div>
    </div>

  <div class="stat">
    <div class="stat-content">
      <h3><%= humanized_money_with_symbol(@sitter.price)%></h3>
      <p>por hora</p>
    </div>
  </div>

  <div class="stat">
    <div class="stat-content">
      <h3><%= Booking.where(sitter_id: @sitter.id).count %></h3>
      <p>baby-sitting feitos (sendo <strong><%= @bookings_history = Booking.where(sitter_id: @sitter.id, user_id: current_user).count %></strong> com você)</p>
    </div>
  </div>


 <div class="stat">
    <div class="stat-content">
      <h3><i class="fab fa-facebook-f"></i></h3>
      <p>Logue-se com Facebook para ver quem já contratou <%= @sitter.user.name.titleize %></p>
    </div>
  </div>


 <div class="stat">
    <div class="stat-content">
      <% if Favorite.where(sitter_id: @sitter.id).count == 0 %>
      <h3>Ninguém</h3>
      <p>tem <%= @sitter.user.name.titleize %> como favorito.</p>
      <% else %>
      <h3><%= pluralize(Favorite.where(sitter_id: @sitter.id).count, 'familia', 'familias') %></h3>
      <p>tem <%= @sitter.user.name.titleize %> como favorito.</p>
      <% end %>
    </div>
  </div>

  <div class="description">
    <div class="description-content">
      <h2>Um pouco sobre mim</h2>
      <br>
      <p class="text-justify">
        <%= @sitter.about %>
        <br><br>
        Minhas habilidades: <ul><% @sitter.skills.each do |skill|%>
          <li><%= skill %></li>
        <% end %>
        </ul><br><br></p>
        <hr/>
           <h2>Todas as avaliações que eu recebi </h2>
           <br>
             <% if Reviewssitter.where(sitter_id: @sitter.id).count == 0 %>
     Por enquanto sem avaliações.
     <% else %>
     <br>
      <p class="text-justify">
     <span style="display: block; width: 65px; height: 13px; background: url(<%= image_path("star-rating-sprite.png") %>) 0 0;"><span style="display: block; width: <%= Reviewssitter.where(sitter_id: @sitter.id).average(:rating).round(2)*20 %>%; height: 13px; background: url(<%= image_path("star-rating-sprite.png") %>) 0 -13px;"></span></span>

    Nota média : <strong><%= Reviewssitter.where(sitter_id: @sitter.id).average(:rating).round(2) %></strong> / 5      (<%= pluralize(Reviewssitter.where(sitter_id: @sitter.id).count, 'notas', 'avaliações') %>)</p>
           </span>

    <br><br>
     <% Reviewssitter.where(sitter_id: @sitter.id).each do |review| %>
      <p class="text-justify">
      Data do baby-sitting : <%= review.created_at.strftime("%v") %><br>
      Nota recebida : <strong><%= review.rating %></strong> / 5<br>
      Comentarios : <%= review.description %></p>
      <br>
    <% end %>
    <% end %>

        <br><br>
<hr/>

        Gostou do meu perfil? Compartilhe no Facebook <%= social_share_button_tag("Share to Facebook", :url => sitter_url(@sitter.id), desc: @sitter.user.name) %>
      </p>
    </div>
  </div>
</div>
<div class="text-center"><%= link_to "Voltar", :back, class: "btn btn-pink btn-lg", style: "width: 100px; margin-bottom: 10px;"%></div>
</div>

