<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="<%= image_path "favicon.png" %>"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Babáconfia - Contrate com facilidade uma babá de confiança.</title>
    <meta name="description" content="Babáconfia é o melhor site para se encontrar uma babá de última hora, contrate com facilidade uma babá de confiança e pague diretamente no site!">

    <!-- Meta tags -->
    <!-- facebook -->
    <meta property="og:title" content="BabáConfia - Contrate com facilidade uma babá de confiança.">
    <meta property="og:image" content="<%= image_path('babaconfia.png') %>">
    <meta property="og:description" content="Babáconfia é o melhor site para se encontrar uma babá de última hora, contrate com facilidade uma babá de confiança e pague diretamente no site!">
    <meta property="og:site_name" content="BabáConfia"/>
    <!-- twitter -->
    <!-- <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Lewagonparis">
    <meta name="twitter:title" content="Le Wagon - The French innovative coding school">
    <meta name="twitter:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
    <meta name="twitter:creator" content="@Lewagonparis">
    <meta name="twitter:image:src" content="http://twitter-card.jpg"> -->
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>

    <%= javascript_pack_tag "map" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= custom_bootstrap_flash %>

  </body>
</html>
